.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container>div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* Coool Effects */

/* .experience__container div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
} */

.experience__container>div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.experience__container>div h3{
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}